# Project exclude paths
/api/target/
/chat/target/
/commodity/target/
/common/target/
/config/target/
/entity/target/
/eureka/target/
/order/target/
/tm/target/
/turbine/target/
/user/target/
/zuul/target/